# Secrets
.env
.env.*
*.p8
*.jks
key.properties
GoogleService-Info.plist

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
.DS_Store

# Swift Package Manager
.swiftpm/
.build/

# Firebase Functions
functions/node_modules/
functions/lib/
firebase-debug.log
firebase-debug.*.log
.firebase/

