<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Newborn Moments</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ar</string>
		<string>ca</string>
		<string>zh-Hans</string>
		<string>zh-Hant</string>
		<string>hr</string>
		<string>cs</string>
		<string>da</string>
		<string>nl</string>
		<string>fi</string>
		<string>fr</string>
		<string>de</string>
		<string>el</string>
		<string>he</string>
		<string>hi</string>
		<string>hu</string>
		<string>id</string>
		<string>it</string>
		<string>ja</string>
		<string>ko</string>
		<string>ms</string>
		<string>nb</string>
		<string>pl</string>
		<string>pt</string>
		<string>ro</string>
		<string>ru</string>
		<string>sk</string>
		<string>es</string>
		<string>sv</string>
		<string>th</string>
		<string>tr</string>
		<string>uk</string>
		<string>vi</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Newborn Moments needs camera access so you can take a photo of your baby to create studio-style portraits.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Newborn Moments needs permission to save your generated portraits to your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Newborn Moments needs photo library access so you can choose a photo of your baby to create studio-style portraits.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Quicksand-Variable.ttf</string>
		<string>Nunito-Variable.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>SplashBackground</string>
		<key>UIImageName</key>
		<string>LaunchLogo</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
